
input {
    height: 40px;
    width: 800px;
}

input[type=submit]{
    width: 80px;
}

html{
    background-color: bisque;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}